.Tempcontainer {
  width: 100%;
  height: 100vh;
  //   background: red;
  /*GRID*/
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: #{$minHeight} auto 10%;
  grid-template-areas:
    "header header header header"
    "main main main side"
    "footer footer footer footer";
  @include tablet {
    grid-template-rows: #{$maxHeight} auto 10%;
  }
  header {
    grid-area: header;
    // background: blue;
  }
  .main {
    grid-area: main;
    // background: grey;
  }
  footer {
    grid-area: footer;
    // background: green;
  }
}
